body,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', Helvetica,
    'Microsoft YaHei', Arial;
}

body {
  background-color: #f5f5f9;
}

ul,
li {
  list-style-type: none;
}

.title {
  padding-left: 15px;
  padding-top: 15px;
}
